* {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}

#canvas1 {
    position: relative;
    background: black;
    width: 100%;
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
}